<a href="/auth/facebook"><img src="/images/sign-in-with-facebook.png" width="154" height="22"></a>
<a href="/auth/twitter"><img src="/images/sign-in-with-twitter.png" width="151" height="24"></a>
<a href="/auth/google"><img src="/images/sign-in-with-google.png" width="151" height="24"></a>